<div class="container">

  <div class="align-right">
    <button class="button cta primary" routerLink="/new-product">+ New Product</button>
  </div>

  @if (productsService.loading$|async) {
    Loading data...
  } @else {
    <table>
      <thead>
      <tr>
        <th (click)="sortColumn('id')">Id</th>
        <th (click)="sortColumn('title')">Title</th>
        <th (click)="sortColumn('category')">Category</th>
        <th (click)="sortColumn('price')">Price</th>
        <th (click)="sortColumn('rating')">Rating</th>
      </tr>
      </thead>

      <tbody>
        @for (product of sortedProducts$|async; track product.id) {
          <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.title }}</td>
            <td>{{ product.category }}</td>
            <td>{{ product.price }} $</td>
            <td>{{ product.rating }}</td>
          </tr>
        }
      </tbody>
    </table>
  }

</div>
