.container {
  display: flex;
  flex-direction: column;
}

.align-right {
  text-align: right;
  margin-bottom: 20px;
}

table {
  min-width: 50%;

  thead {
    th {
      background: var(--primary);
      color: var(--text-contrast);
      cursor: pointer;
    }
  }

  th, td {
    padding: 4px;
  }
}
